$mainColor: rgb(248, 225, 97);
$menuColor: darken($mainColor, 10%);
$sortContColor: lighten($mainColor, 10%);
$columnColor: complement(darken($mainColor, 40%));

$columnCount: 20;
$percent: 2%;


body {
    padding: 0px;
    margin: 0px;
    main {
        background: $mainColor;
        height: 100%;
        display: flex;
        flex-direction: row;
        .selectionMenu {
            background: $menuColor;
            width: 20%;
        }
        .container {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            .sortContainer {
                background: $sortContColor;
                border-radius: 15px;
                width: 70%;
                height: 70%;
                padding: 10px;
                display: flex;
                align-items: flex-end;
                .column {
                    margin: 1px;
                   /* background: $columnColor;*/
                    border-radius: inherit;
                    flex-grow: 1;
                }
            }
            @for $i from 1 through $columnCount {
                .column:nth-child(#{$i}){
                    background: lighten($columnColor, $percent * $i);
                   /* $percent: $percent + $percentStep;*/
                }
            }
        }
    }
}
