$mainColor: rgb(248, 225, 97);
$menuColor: darken($mainColor, 10%);
$sortContColor: lighten($mainColor, 10%);
$columnColor: complement(darken($mainColor, 40%));

$columnCount: 30;
$percent: 2%;

@mixin appearance {
    opacity: 0; 
    transition: 0.1s; 
    animation: show 0.3s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 0.1s; 
}
@keyframes show{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    padding: 0px;
    margin: 0px;
    main {
        background: $mainColor;
        height: 100%;
        display: flex;
        flex-direction: row;
        .selectionMenu {
            background: $menuColor;
            width: 20%;
        }
        .container {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            .sortContainer {
                background: $sortContColor;
                border-radius: 15px;
                width: 70%;
                height: 70%;
                padding: 10px;
                display: flex;
                align-items: flex-end;
                .column {
                    margin: 1px;
                    border-radius: inherit;
                    flex-grow: 1;
                    @include appearance;
                }
                @for $i from 1 through $columnCount {
                    .columnNum#{$i}{
                        background: lighten($columnColor, $percent * $i);
                        height: calc(100% - #{$percent} * #{$i});
                    }
                }
            }
        }
    }
}
